*

!.gitignore
!readme.md
!conanfile.py
!CMakeLists.txt
!version.txt
!component_version.txt
!Doxyfile.in
!LICENSE.txt

!cmake
!cmake/modules
!cmake/modules/*

!src/
!src/*.cpp
!include/
!include/*.h

!test_package/
!test_package/*
!test_package/include/*
!test_package/src/*

!docs/
!docs/*

!deploy/
!deploy/*
!deploy/**